.favorites-container {
    display: flex;
    flex-direction: column; /* Mantén esto como columna para que los elementos estén en vertical */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px;
    font-family: Arial, sans-serif;
}

.favorites-header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.favorites-list {
    display: flex; /* Cambia a flex para alinear horizontalmente */
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px; /* Espaciado entre tarjetas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 30%; /* Permite que las tarjetas crezcan y se encojan, ocupando al menos el 30% del ancho */
    max-width: 500px; /* Limita el ancho máximo de cada tarjeta */
}

.recipe-card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recipe-card h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #555;
}

.recipe-card ul {
    list-style-type: none; /* Elimina las viñetas de la lista */
    padding: 0; /* Elimina el padding de la lista */
}

.recipe-card li {
    background: #eef;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.button-container {
    display: flex;
 /* Distribuye los botones */
    margin-top: 20px;
}

.button-container button {
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #28a745; /* Color verde */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #218838; /* Color verde más oscuro al pasar el ratón */
}

/* Estilo para el mensaje de recetas vacías */
.no-favorites {
    text-align: center;
    color: #777;
    font-size: 1.2rem;
}
