.protected-layout {
  min-height: 100vh; /* Para que ocupe la altura total de la ventana */
  background-image: url('../assets/image.jpg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Efecto de desplazamiento */
  
  display: flex; /* Habilita flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  position: relative; /* Para que el botón de logout esté bien posicionado */
}

.logout-button {
  position: absolute; /* Fijar el botón en la parte superior derecha */
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #cf5c54;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #920101; /* Cambia de color al pasar el cursor */
}

.protected-content {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  padding: 30px;
  margin: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centra el texto dentro del contenido */
}
