/* Estilos para RecipeSearch */

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #1d65b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .recipe-card h3 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .recipe-card button {
    background-color: #28a745;
  }
  
  .recipe-card button:hover {
    background-color: #218838;
  }
  
  .link-button {
    background-color: #e65238;
  }
  
  .link-button:hover {
    background-color: #b61e06;
  }
  